<section>
  <div class="testimonials-heading">
    <h2>Was unsere Kunden sagen</h2>
    <p>
      Vertrauen, Qualität und Ergebnisse – das schätzen unsere Partner an der
      Zusammenarbeit mit uns.
    </p>
  </div>
  <div class="testimonials">
    <div class="testimonials-card">
      <img src="/assets/img/testimonials/zitat.svg" alt="" />
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum saepe
        fugit velit labore accusantium vero necessitatibus unde quia, ex nobis
        iste ullam eveniet odio repellat rerum tempore fuga aliquid consectetur!"
      </p>
      <div class="customer">
        <img src="/assets/img/testimonials/anonoymus avatar2.png" alt="" />
        <div>
          <h4>Max Mustermann</h4>
          <p>Beruf</p>
        </div>
      </div>
    </div>
    <div class="testimonials-card">
      <img src="/assets/img/testimonials/zitat.svg" alt="" />
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, optio
        repellat! Necessitatibus accusamus reiciendis id unde illo, provident
        dolorum temporibus voluptates. Beatae, odit id? Doloribus quisquam sint
        dolorum officiis ipsam."
      </p>
      <div class="customer">
        <img src="/assets/img/testimonials/anonoymus avatar2.png" alt="" />
        <div>
          <h4>Max Mustermann</h4>
          <p>Beruf</p>
        </div>
      </div>
    </div>
    <div class="testimonials-card">
      <img src="/assets/img/testimonials/zitat.svg" alt="" />
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, vel
        laborum! Nobis, incidunt alias suscipit dolore porro quos cupiditate
        reprehenderit minus provident, fugiat doloremque quidem tempora deleniti
        voluptates, et aut."
      </p>
      <div class="customer">
        <img src="/assets/img/testimonials/anonoymus avatar2.png" alt="" />
        <div>
          <h4>Max Mustermann</h4>
          <p>Beruf</p>
        </div>
      </div>
    </div>
  </div>
</section>
