section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  > div {
    width: 45%;
  }

  .about-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 2.5rem;
    }

    p {
      color: var(--no-hover);
      font-size: 1.125rem;
    }
  }
  .about-image {
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 2rem;
    > div {
      width: 100%;
    }
    .about-image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
}
