section {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  max-width: 1200px;
  gap: 4rem;
  height: 100%;
  margin: 0 auto;
  background-color: black;
    .line {
      height: 1px;
      padding: 0 2rem;
      background: linear-gradient(
        to right,
        transparent,
        #252528 10%,
        #252528 90%,
        transparent
      );
      width: 100%;
      border: none;
      opacity: 0.6;
      margin: 3rem 0;
      @media (max-width: 600px) {
        margin: 1.5rem 0;
    }
  }
}
