<section id="hero">
  <div class="backround"></div>
  <div class="text-content">
    <div class="info">
      <span>DESIGN SMARTER, NOT HARDER</span>
      <h1>JP Systems</h1>
      <h2>building Websites & Websystems</h2>
      <p>
        Wir sind eine Digitalagentur, die sich auf die Erstellung
        maßgeschneiderter, performanter und zukunftssicherer Web-Lösungen
        spezialisiert hat. Von der Konzeption bis zur Umsetzung – wir verwandeln
        Ihre Vision in digitalen Erfolg.
      </p>
    </div>
    <div class="buttons">
      <a class="button-service" href="#leistungen">Unsere Leistungen</a>
      <a class="button-contact" href="contact">Kontakt</a>
    </div>
  </div>
  <div class="title-image-container">
    <img class="title-image" src="/assets/img/hero/hero.jpeg" alt="" />
  </div>
</section>
