<section>
  <div class="leistungen-content">
    <div class="leistungen-heading">
      <h2>Unsere Leistungen</h2>
      <p>
        Wir bieten ein umfassendes Spektrum an digitalen Dienstleistungen, um
        <br> 
        Ihre Projekte zum Erfolg zu führen.
      </p>
    </div>
    <div class="leistungen">
      <div class=" card">
        <div class="image-box">
            <img src="/assets/img/leistungen/pen.svg" alt="">
        </div>
        <h3>Webdesign</h3>
        <p>
          Moderne, responsive und ästhetisch ansprechende Layouts, die Ihre
          Marke perfekt repräsentieren.
        </p>
      </div>
      <div class=" card">
        <div class="image-box">
            <img src="/assets/img/leistungen/kalmmer.svg" alt="">
        </div>
        <h3>Webentwicklung</h3>
        <p>
          Individuelle Websites, Webanwendungen und komplexe Systeme, entwickelt
          mit den neuesten Technologien für maximale Performance.
        </p>
      </div>
      <div class=" card">
        <div class="image-box">
            <img src="/assets/img/leistungen/share.svg" alt="">
        </div>
        <h3>Systemintegration</h3>
        <p>
          Nahtlose Anbindung von APIs und Automatisierung von Prozessen zur
          Effizienzsteigerung Ihrer Geschäftsabläufe.
        </p>
      </div>
      <div class=" card">
        <div class="image-box">
            <img src="/assets/img/leistungen/layers.svg" alt="">
        </div>
        <h3>UX/UI Design</h3>
        <p>
          Nutzerzentriertes Design für intuitive und begeisternde digitale
          Erlebnisse, die Ihre Kunden lieben werden.
        </p>
      </div>
    </div>
  </div>
</section>
