.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 20;
  }

  .router {
    max-width: 1200px;
    width: inherit;
  }
}
