<span span class="menu-slider" [class.open]="mobile.isOpen">
  <div>
    <div>
      <img src="/assets/img/logo/JP-Systems Logo.png" alt="JP systems logo" />
      <span>JP Systems</span>
    </div>
    <a (click)="closeMobileMenu()" href="#services">Leistungen</a>
    <a (click)="closeMobileMenu()" href="#services">Über uns</a>
    <a (click)="closeMobileMenu()" href="#testimonials">Testimonials</a>
    <a (click)="closeMobileMenu()" href="#team">Team</a>
    <a (click)="closeMobileMenu()" href="#contact">Kontakt</a>
    <a (click)="closeMobileMenu()" routerLink="/imprint">Impressum</a>
    <a (click)="closeMobileMenu()" routerLink="/privacy-policy">Datenschutz</a>
  </div>
</span>
