<section id="team">
  <div class="team-heading">
    <h2>Der Kopf hinter JP Systems</h2>
    <p>Eine Vision, eine Person – persönlicher Service von A bis Z.</p>
  </div>
  <div class="team-card-section">
    <div class="founder-card">
      <img
        src="/assets/img/team/Joshua Plischek.png"
        alt="image of Joshua Plische the founder of JP Systems"
      />
      <div class="teammate-info">
        <div>
          <h4>Joshua Plischek</h4>
          <span>Gründer & Developer</span>
        </div>
        <p>
          Joshua ist der kreative Kopf hinter JP Systems. Als One-Man-Operation
          kümmert er sich um alles – von der ersten Design-Idee bis zur finalen
          Implementierung. Seine Leidenschaft liegt darin, moderne,
          benutzerfreundliche Websites & Web-Systeme zu entwickeln, die nicht
          nur technisch überzeugen, sondern auch ein großartiges Nutzererlebnis
          bieten.
        </p>
      </div>
    </div>
  </div>
</section>
