section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    .contact-background {
        background: radial-gradient(circle, var(--backround-shine) 0%, transparent 60%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 800px;
        pointer-events: none;
        transform: translate(-50% ,-50%);
    }

    .contact-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        >div {
            width: 45%;
        }

        .content-heading {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.125rem;
                color: var(--no-hover);
            }

            .contact-links {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                a {
                    color: var(--no-hover);

                    img {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .contact-form {
            padding: 2rem;
            border-radius: 1rem;
            background-color: #141415;
            border: 1px solid #252528;
            box-shadow: 0 10px 15px -3px hsla(0, 0%, 0%, 0.2), 0 4px 6px -2px hsla(0, 0%, 0%, 0.1);

            form {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    input,
                    textarea {
                        border-radius: 0.5rem;
                        border: 1px solid #252528;
                        padding: 0.5rem 1rem;
                        background-color:
                            color-mix(in srgb, #0000 80%, black);
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.05);
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.75rem;
                    padding: 0 1rem;
                    height: 3rem;
                    font-size: 1rem;
                    color: var(--text-color-one);
                    background-color: var(--primary);
                }
            }
        }
    }
}