<section id="contact">
    <div class="contact-background"></div>
    <div class="contact-content">
        <div class="content-heading">
            <h2>Kontakt</h2>
            <p>Haben Sie ein Projekt im Kopf? Wir freuen uns, von Ihnen zu hören.</p>
            <div class="contact-links">
                <a href="tel:017673550214"><img src="/assets/img/contact/sellphone.svg" alt="">+49 176 73550214</a>
                <a href="mailto:plischekjoshua@web.de"><img src="/assets/img/contact/mail.svg" alt="">plischekjoshua&#64;web.de</a>
                <a href="https://maps.app.goo.gl/aBPRQzkgQgNUvw4w7" target="_blank"><img src="/assets/img/contact/location.svg" alt="">Raiffeisenstr. 10A, 57636 Altenkirchen</a>
            </div>
        </div>
        <div class="contact-form">
            <form action="#" method="post">
                <div>
                    <label for="Name">Name</label>
                    <input type="text" id="name" name="fullName" placeholder="Ihr Name" required>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Ihre E-Mail-Adresse" required>
                </div>

                <div>
                    <label for="message">Nachricht</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Wie kann ich helfen?"></textarea>
                </div>

                <button type="submit">Senden</button>
            </form>
        </div>
    </div>
</section>