html,body{
    background-color: black;
    height: 100dvh;
    width: 100dvw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  scroll-behavior: smooth;
  color: white;
}