<section>
  <h1>Impressum</h1>

  <p>
    Joshua Plischek<br />
    JP Systems<br />
    Raiffeisenstr. 10A<br />
    57610 Altenkirchen
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: 017673550214<br />
    E-Mail: info&#64;jpsystems.me
  </p>

  <h2>Berufsbezeichnung und berufsrechtliche Regelungen</h2>
  <p>
    Berufsbezeichnung:<br />
    Developer
  </p>
  <p>
    Verliehen in:<br />
    Deutschland
  </p>
  <h2>Redaktionell verantwortlich</h2>
  <p>
    Joshua Plischek<br />
    Raiffeisenstr. 10A<br />
    57610 Altenkirchen
  </p>

  <h2>
    Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
  </h2>
  <p>
    Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
    einer Verbraucherschlichtungsstelle teilzunehmen.
  </p>

  <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

  <app-footer></app-footer>
</section>
